<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- Fill these in from your Azure settings -->
    <add key="tenant" value=""/>
    <add key="clientid" value=""/>
    <add key="resourceuri" value=""/>
    <add key="authorityuri" value=""/>
    <add key="redirecturi" value=""/>
  </appSettings>
</configuration>